<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 9 - Recommandation du contenu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">    </script>
    <style>

        .container-msa {
            width: 700px;
            margin: 50px auto;
            font-size: 15px;
        }
        .container-msa form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .container-msa h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
        .radioButton input[type="radio"]:checked+label {
            background-color: yellow;
            color: black;
            font-weight: bold;
        }
        .myFormBorder {
            border:thin black solid;
          }
    </style>
</head>
<body>
    <div class="container text-center" style="color:green" rows=10>
        <h1>La bibliothéque libre MyContent</h1>
        <p>Recommendation des articles qui vous interesseraient le plus</p>
        <p>Le cache manager : {{cache_manager_status['msg']}}</p>
        <p>Le nombre d'articles : {{cache_manager_status['published_articles']}}</p>
        <br />
        <br />
    </div>
    {% if cache_manager_status['published_articles'] != -1 %}
    <div id='what_to_do'>
            <button id='sign-in' type="submit" class="btn btn-success" onclick='letThemIn()'>
                Se connecter
            </button>
            <button id='sign-up' type="submit" class="btn btn-success" onclick='handleNewUser()'>
                Nouveau utilisateur
            </button>
            <hr />
            <h2>Acces administrateur</h2>
            {% if lockana %}
                <button id='new_article' type="submit" class="btn btn-success" onclick='PublishNewArticle()' disabled>
                    <label center style="font-size:15px;">Publier un lots de nouveaux articles</label>
                    <br>
                    <label style="color:darkblue;font-size:20px;">Une operation d'ajout semble avoir deja ete initiée et non terminee</label>
                    <hr/>
                    <label style="color:darkblue;font-size:20px;"> No more publications can be authorized</label>
                </button>
            {% else %}
                <button id='new_article' type="submit" class="btn btn-success" onclick='PublishNewArticle()'>
                    <label  style="font-size:15px;">Publier un lots de nouveaux articles {{lockana}}</label>
                    <hr/>
                    <label style="color:darkblue;font-size:20px;"> Push to publish</label>
                </button>
                {% endif %}
            <br>
            <br>
            <form action={{'cfrs_watcher'}} method="post">
                {% if cfrs_update == true %}
                    <button id='cfrs_watcher_b' type="submit" class="btn btn-success" disabled>
                        <label center style="font-size:15px;">Demarrer la prise en charge des nouvelles interactions pour les sessions terminées{{cfrs_update}}</label>
                        <hr/>
                        <label style="color:darkblue;font-size:20px;">Already activated</label>
                    </button>
                {% else %}
                    <button id='cfrs_watcher_b' type="submit" class="btn btn-success">
                        <label center>Demarrer la prise en charge des nouvelles interactions pour les sessions terminées{{cfrs_update}}</label>
                        <hr/>
                        <label style="color:darkblue;">Push to activate</label>
                    </button>
                {% endif %}
                
            </form>
    </div>
    
    <div id='login' class="container-msa" hidden>
        <form action={{'sendUserInformation'}} method="post">
            <h2 id='task' class="text-center">Log in</h2>
            <div class="form-group">
                <input id='user_id' name='user_id' type="number" class="form-control"  placeholder="Enter your user_id"  required="required" >
            </div>
            <br/>
            <div class="form-group">
                <button id='submit_user_id' type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>     
        </form>
    </div>

    <div id='new_user' class="container-msa" hidden>
        <form action={{'sendUserInformation'}} method="post">    
            <label>Please, let us know about your preferred categories(:-<!</label>
            <br/>
            <select id='user_pc1' name='user_pc1' class="form-select" aria-label="Disabled select example" > 
                <option selected>First PC</option>
            </select>
            <select name='user_pc2' id='user_pc2' class="form-select" aria-label="Disabled select example" > 
                <option selected>Second PC</option>
            </select>
            <select name='user_pc3' id='user_pc3' class="form-select" aria-label="Disabled select example" > 
                <option selected>Third PC</option>
            </select>
            <hr/>
            <label>Please, we want to know about your region too!!!</label>
            <input name='user_region' type="text" class="form-control"  placeholder="region" style="width: 4rem;">
            <br/>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>     
        </form>
    </div>

    <div id='push_new_articles' class="container-msa" hidden>
        <form action={{'PublishNewArticles'}} method="post">    
            <label style="font-size=30px;">Des articles nouveaux candidats a la publication.</label>
            <label style="font-size=30px;">Vous pouvez selectionner un nouveau article pour le publier (:-<!</label>
            <br/>
            <br/>
            <select id='article_name' name='article_name' class="form-select" aria-label="Disabled select example" multiple> 
                <option selected></option>
            </select>
            <hr/>
            <button type="submit" class="btn btn-primary btn-block">Publish now!</button>     
        </form>
        <hr/>
        {% if toto%}
        <p>{{toto}}</p>
        {% endif %}
    </div>
    {% endif %}
    <script type='text/javascript'>
        for(var i of {{nouveaux_articles}}) {
            $("#article_name").append(
                $('<option>',{
                    value:i,
                    text:'article_id == ' + i
                    })
            );
        }
        for(var i of {{elected_categories}}) {
                $("#user_pc1").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
                $("#user_pc2").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
                $("#user_pc3").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
        }
        function letThemIn(){
            $('#what_to_do').attr('hidden','hidden');
            $('#login').removeAttr('hidden')
        }
        function handleNewUser(){
            $('#what_to_do').attr('hidden','hidden');
            $('#new_user').removeAttr('hidden')            
        }
        function acceptNewUser(the_radio){
                $("#brilliant").removeAttr('hidden');
                $("#user_id").attr('hidden','hidden');
                $("#submit").attr('disabled',false);
                $('#submit').html("sign up");
                $('#task').html("New User")
                $('#nu_options').removeAttr('hidden')
            }
        function PublishNewArticle(the_radio){
            $('#what_to_do').attr('hidden','hidden');
            $('#push_new_articles').removeAttr('hidden')
        }
    </script>
    </body>
</html>
