<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 9 - Recommandation du contenu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">    </script>
    <style>

        .login-form {
            width: 340px;
            margin: 50px auto;
              font-size: 15px;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
        .radioButton input[type="radio"]:checked+label {
            background-color: yellow;
            color: black;
            font-weight: bold;
        }
        .myFormBorder {
            border:thin black solid;
          }
    </style>
</head>
<body>
    <div class="container text-center" style="color:green" rows=10>
        <h1>La bibliothéque pluriarticleturelle libre</h1>
        <p>Recommendation des articles qui vous interesseraient le plus</p>
        <br />
        <br />
    </div>
   
      
    <div class="login-form">
        <form action="{{sendUserInformation}}" method="post">
            <h2 id='task' class="text-center">Log in</h2>
            <input type="radio" id="new_user"  name="new_user" class="new_userC" style="width: 1rem;"  onclick='acceptNewUser()'>
            <label><span>Nouveau utilisateur</span></label>
            <br/>
            <p id='brilliant' hidden><b>Tremendous idea to join us</b>!!!</p>
            <div class="form-group">
                <input id='user_id' type="number" class="form-control"  placeholder="Enter your user_id"  required="required" onclick="connectByUserId()">
            </div>
            <div id='nu_options' hidden>
                <label>1. if any preferred Categories</label>
                <br/>
                <select id='user_pc1' class="form-select" aria-label="Disabled select example" > 
                    <option selected>First PC</option>
                  </select>
                <select id='user_pc2' class="form-select" aria-label="Disabled select example" > 
                    <option selected>Second PC</option>
                  </select>
                <select id='user_pc3' class="form-select" aria-label="Disabled select example" > 
                    <option selected>Third PC</option>
                  </select>
                  <hr/>
                  <label>2. if any tolerance grace</label>
                  <input id='user_tolerance' type="number" class="form-control"  placeholder="tolerance" style="width: 4rem;">
            </div>
            <br/>
            <div class="form-group">
                <button id='submit' type="submit" class="btn btn-primary btn-block" disabled>Log in</button>
            </div>     
        </form>
    </div>
    <script type='text/javascript'>
        for(i=0;i<461;i++) {
                $("#user_pc1").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
                $("#user_pc2").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
                $("#user_pc3").append(
                    $('<option>',{
                        value:i,
                        text:i
                        })
                );
        }
        function acceptNewUser(the_radio){
            if (document.getElementById('new_user').waschecked ){
                document.getElementById('new_user').waschecked=false
                document.getElementById('new_user').checked=false
                $("#user_id").removeAttr('hidden');
                $("#brilliant").attr('hidden','hidden');
                $("#nu_options").attr('hidden','hidden');
                $('#submit').html("log in");
                $('#task').html("Log in")

            }
            else {
                console.log('new user');
                document.getElementById('new_user').waschecked = true;
                document.getElementById('new_user').checked=true;
                $("#brilliant").removeAttr('hidden');
                $("#user_id").attr('hidden','hidden');
                $("#submit").attr('disabled',false);
                $('#submit').html("sign up");
                $('#task').html("New User")
                $('#nu_options').removeAttr('hidden')
            }
        } 
    </script>
    </body>
</html>
